<%= render 'pages/home' unless user_signed_in? %>
<div class="col-md-12">
<div class="container">
<p id="notice"><%= notice %></p>

 <% if user_signed_in? %>
    <a class="btn btn-lg" <%= link_to 'Add Afrocuisine', new_receipe_path %> </a>
  <% end %>

	<div class="row">
		<% @receipe.each do |receipe| %>

		<div class="col-md-4  image_wrapper">
			<%= link_to image_tag(receipe.image.url, size: "400x300"), receipe %>
			<p class="lead text-center"> <%= receipe.title %> </p>
		</div>

		<% end %>
	</div>

</div>

</div>

<div class="center">
  <%= will_paginate @receipe, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0 %>
</div>
