<div class="container">
	<p id="notice"><%= notice %></p>


<%= link_to '< Back', root_path, :class => 'btn btn-default' %>	

  <% if current_user && @receipe.user == current_user %>
<%= link_to 'Edit', edit_receipe_path, :class => 'btn btn-default' %>
<%= link_to 'Delete', receipe_path, method: :delete,  data: {confirm: "Are you sure?"}, :class => 'btn btn-default' %>
      <% end %>

	<div class="row">
<br/>
		<div class="col-md-4">
			<%= link_to (image_tag @receipe.image.url, size: "630x357"), receipe_path %>
		</div>

		<div class="col-md-8 text-center">
			<h3> <%= @receipe.title %> </h3>
				<br/>
        <p><%= @receipe.description %></p>
				<p>
        Submitted by: <%= @receipe.user.email %>
        </p>
				<p><%= @receipe.created_at %></p>
		</div>

	</div>




<div class="row">

  <div class="col-md-6">
    <div id="ingredients">
      <h2>Ingredients</h2>
      <ul>
        <% @receipe.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="col-md-6">
    <div id="instructions">
      <h2>Instructions</h2>
      <ul>
        <% @receipe.instructions.each do |instruction| %>
          <li>
            <%= instruction.step %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

</div>


